<!DOCTYPE html>
<html lang="en">
<script src="https://d3js.org/d3.v7.min.js"></script>
<head>
  <meta charset="UTF-8">
  <title>bubble chart</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<script src = "bubble_chart.js"></script>
<script src = "swatches.js"></script>
<div class="chart-container">
  <div>
    <button class="button-go-back" onclick="history.back()">Go Back</button>
  </div>
  <div id="axis-container">
    <label for="x-axis">  x-axis:
      <select id="x-axis">
        <option value="1" id="x1"></option>
        <option value="2" id="x2"></option>
        <option value="3" id="x3"></option>
      </select>
    </label>

    <label for="y-axis">  y-axis:
      <select id="y-axis">
        <option value="2" id="y2"></option>
        <option value="1" id="y1"></option>
        <option value="3" id="y3"></option>
      </select>
    </label>

    <label for="z-axis">  z-axis:
      <select id="z-axis">
        <option value="3" id="z3"></option>
        <option value="1" id="z1"></option>
        <option value="2" id="z2"></option>
      </select>
    </label>
  </div>
  <div id="chart">
    <div id="tooltip"></div>
  </div>
</div>
</body>
</html>