<!DOCTYPE html>
<html lang="en">
<script src="https://d3js.org/d3.v7.min.js"></script>
<head>
  <meta charset="UTF-8">
  <title>grouped bar chart</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<script src = "grouped_bar_chart.js"></script>
<script src = "swatches.js"></script>
<div class="chart-container">
  <div>
    <button class="button-go-back" onclick="history.back()">Go Back</button>
  </div>
  <div id="chart">
    <div id="tooltip"></div>
  </div>
</div>
</body>
</html>