<!DOCTYPE html>
<html lang="en">
<script src="https://d3js.org/d3.v7.min.js"></script>
<head>
  <meta charset="UTF-8">
  <title>scatter diagram</title>
</head>
<style>
  .chart-container {
    position: absolute;
  }
  #chart {
    position: relative;
  }
  #tooltip {
    position: absolute;
    pointer-events: none;
    /* Additional tooltip styles */
  }
</style>
<body>
<script src = "scatter_diagram.js"></script>
<script src = "swatches.js"></script>
<div class="chart-container">
  <div id="chart">
    <div id="tooltip"></div>
  </div>
</div>
</body>
</html>