<!DOCTYPE html>
<html lang="en">
<script src="https://d3js.org/d3.v7.min.js"></script>
<head>
  <meta charset="UTF-8">
  <title>spider chart</title>
</head>
<body>
<script src = "spider_chart.js"></script>
<div class="spiderChart"></div>
<script>
      var margin = {top: 100, right: 100, bottom: 100, left: 100},
      width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
      height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);

			var color = d3.scaleOrdinal()
				.range(["#EDC951","#CC333F","#00A0B0"]);

			var spiderChartOptions = {
			  w: width,
			  h: height,
			  margin: margin,
			  maxValue: 0.5,
			  levels: 5,
			  roundStrokes: true,
			  color: color
			};

      d3.json("/spider_chart_data")
        .then(function(data) {
        SpiderChart(".spiderChart", data, spiderChartOptions);
      })
</script>
</body>
</html>