<!DOCTYPE html>
<html lang="en">
<script src="https://d3js.org/d3.v7.min.js"></script>
<head>
  <meta charset="UTF-8">
  <title>spider chart</title>
</head>
<body>
<script src = "spider_chart.js"></script>
<div class="spiderChart" id="spiderChart"></div>
<script>
      var margin = {top: 100, right: 100, bottom: 100, left: 100},
      width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
      height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);

      d3.json("/spider_chart_data")
        .then(function(data) {

        var keys = Object.keys(data[0]);

        // extract all unique axis values from data
        const uniqueAxes = [...new Set(data.map(item => item[keys[1]]))];

        // create grouped data with same order of axis keys
        const grouped = Object.values(data.reduce((acc, cur) => {
          const brand = cur[keys[0]];
          const axis = cur[keys[1]];
          const value = cur[keys[2]];

          // create brand object if not exists
          if (!acc[brand]) {
            acc[brand] = {
              brand: brand,
              values: uniqueAxes.map(axis => ({ axis: axis, value: null }))
            };
          }

          // set value for the corresponding axis
          const axisIndex = uniqueAxes.indexOf(axis);
          acc[brand].values[axisIndex].value = value;

          return acc;
        }, {})).map(obj => obj.values);

        const brand = data.reduce((acc, cur) => {
          const axis = cur[keys[0]];
          if (!acc.includes(axis)) {
            acc.push(axis);
          }
          return acc;
        }, []);

        var color = d3.scaleOrdinal()
          .domain(brand)
          .range(d3.schemeCategory10.slice(0, brand.length));

        var spiderChartOptions = {
          w: width,
          h: height,
          margin: margin,
          maxValue: 0.5,
          levels: 5,
          roundStrokes: true,
          color: color,
          brand: brand
        };

        RadarChart(".spiderChart", grouped, spiderChartOptions);
      })
</script>
</body>
</html>